html {
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:   linear-gradient(
    rgba(255, 255, 255, 0.8), 
    rgba(247, 247, 247, 0.8)
  ), url('../images/banking.jpg') no-repeat;
}

* {
  box-sizing: border-box;
}

main {
  padding-bottom: 20px;
  min-height: calc(100vh - 160px);
  max-width: 70%;  
}

header {
  height: 80px;
}

a {
  text-decoration: none;
  color: rgba(33, 103, 253, 0.9);
}

fieldset {
  margin-top: 15px;
}

.form-title {
  font-size: 15px
}

.col-75 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 400px) {
  form button {
    width: 50%;
    margin-top: 10px;
    float: right;
  }
  .form-title {
    font-size: 18px
  }
}

button {
  background-color: #3d1dee;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

input, select {
  padding: 15px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
  width: 100%;
}

#form-error {
  font-size: 20px;
  color: red;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  bottom: 0;
  height: 80px;
  border-top: 1px solid rgb(216, 214, 214);
  font-size: 10px
}

footer a {
  padding: 10px;
}

@media (min-width: 768px) {
  main {
    max-width: 550px
  }
  form button {
    width: 25%;
    margin-top: 10px;
    float: right;
  }
  .footer {
    font-size: 12px
  }
}

@media (min-width: 1024px) {
  body {
    background-size: cover;
  }
}