:root {
  --main-bg-color: #333333;
}
html {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.menu-icon {
  cursor: pointer;
  float: right;
  background-color: white;
  padding: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 5px;
  background-color: var(--main-bg-color);
  margin: 6px 0;
  transition: 0.4s;
  margin-left: 80%;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu-items {
  display: none;
}

.col-2 {
  width: 50%;
}

.col-4 {
  display: inline-flex;
  justify-content: space-evenly;
}

#content-wrapper {
  min-height: calc(100vh - 160px);
}

.navbar {
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid rgb(168, 166, 166);
}

.navbar a {
  display: inline;
  color: black;
  padding: 15px 11px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #899ab1;
}

.logo {
  float: left;
  padding: 15px 15px;
  font-size: 22px;
  color: rgb(143, 176, 245);
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.logo:hover {
  cursor: pointer;
}

.slider {
  height: auto;
}

.slide {
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 1s;
  display: none;
}

.showing {
  opacity: 1;
  z-index: 2;
  display: block;
}

.account-pitch {
  min-height: 300px;
  margin-bottom: 30px;
  padding: 10px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 40%, #c7c7cf 50%);
}

.motto {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
}

.pitch {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

.account-pitch a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  padding: 15px 44px;
  border: none;
  border-radius: 4px;
  background-color: #3d1dee;
  color: white;
  box-shadow: 2px 2px 4px 0 rgba(125, 152, 189, 0.1);
}

.account-pitch a:hover {
  box-shadow: 5px 5px 15px 0 rgba(137, 154, 177, 0.6);
}

.pitch-button {
  margin-top: 20px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  bottom: 0;
  height: 80px;
  border-top: 1px solid rgb(216, 214, 214);
  font-size: 12px;
}

footer a {
  padding: 10px;
}

@media (min-width: 375px) {
  .col-4 a {
    padding: 20px 18px;
  }
}

@media (min-width: 425px) {
  .menu-icon {
    display: none;
  }
  .menu-items {
    display: block;
  }
  .col-4 a {
    padding: 21px 12px;
    font-size: 1.1em;
  }
  .col-2 {
    width: 25%;
  }
  div .pitch {
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  div .motto {
    font-size: 28px;
    font-weight: 700;
  }
  .account-pitch {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }
  .pitch {
    font-size: var(--sm-font-size);
    font-weight: 400;
    line-height: 25px;
  }
  .col-4 a {
    padding: 20px 35px;
    font-size: 20px;
  }
  .pitch-text {
    width: 60%;
  }

  div .pitch-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 50px;
  }
  div .pitch-button a {
    font-size: 20px;
  }
  div .menu-items {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  #content-wrapper,
  .navbar {
    max-width: 1080px;
    margin: auto;
  }
  div .motto {
    font-size: 32px;
    font-weight: 800;
  }
  .col-4 a {
    padding: 20px 50px;
    font-size: 25px;
  }
  .account-pitch {
    font-size: 24px;
  }
  div .pitch-button a {
    font-size: 25px;
  }
}
