html {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#logo {
  cursor: pointer;
  color: rgb(143, 176, 245);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

header {
  height: 80px;
  text-align: center
}

main {
  padding-bottom: 20px;
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#admin {
  display: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  background-color: rgb(47, 47, 224);
  padding: 15px;
  color: whitesmoke;
  border-radius: 5px;
}

.list {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #cfcaca;
  border: 20px;
  list-style-type: none;
  font-family: 'Monteserrat', sans-serif;
}

.list:hover {
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
}

.item {
  font-size: 20px;
  cursor: pointer;
}

.item:hover {
  color: #3b75f1;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  bottom: 0;
  height: 60px;
  border-top: 1px solid rgb(216, 214, 214);
  font-size: 7px;
}

footer a {
  padding: 10px;
}


@media screen and (min-width: 425px) {
  .footer {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 12px;
  }
  #accounts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .list {
    padding: 15px;
    margin: 15px;
  }
}