html {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Source Sans Pro', sans-serif, 'Roboto', Arial, Helvetica, sans-serif;
  background:   linear-gradient(
    rgba(255, 255, 255, 0.7), 
    rgba(247, 247, 247, 0.7)
  ), url('../banking.jpg') no-repeat;
  color: rgb(0, 0, 0);
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

header {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  padding-bottom: 20px;
  min-height: calc(100vh - 160px);
  max-width: 80%;
  margin: auto;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2em;
}

.login {
  font-size: 2.5em;
}

a {
  color: rgba(33, 103, 253, 0.9);
}

.logo a {
  color: rgba(33, 103, 253, 0.9);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.1em;
}

.col-75 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.terms {
  border: 10px;
}

button {
  background-color: rgba(33, 103, 253, 0.9);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width:  100%;
  margin-top: 10px;
}

input,
select {
  padding: 15px;
  margin: 5px 0 5px 0;
  border: none;
  border-radius: 5px;
  width: 100%;
}

#form-error {
  font-size: 20px;
  color: rgba(33, 103, 253, 0.9);
}

p {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.link {
  margin-bottom: 50px;
  justify-content: center;
}

.staffLink {
  font-family: 'Montserrat', sans-serif, 'Open Sans', 'Roboto', Arial;
  font-size: 15px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  background-image: linear-gradient(#00d2ff, #3a7bd5);
  padding: 15px 20px;
  color: white;
}

.fa, .fab, .fal, .far, .fas {
  padding-left: 20px;
}

.back {
  font-size: 15px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  bottom: 0;
  height: 80px;
  color: rgb(10, 10, 10);
  border-top: 1px solid rgb(216, 214, 214);
  font-size: 10px
}

footer p {
  padding: 3px;
  font-size: 9px;
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    max-width: 600px;
  }
  h1 {
    font-size: 2.2em;
  }
  p {
    font-size: 20px;
    font-style: bold;
  }
  .details {
    font-size: 16px;
  }
  .terms {
    font-size: 16px;
  }
  footer .footer-item {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  body {
    background-size: cover;
  }
  .title {
    font-size: 3em;
  }
}
