html {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif, 'Roboto', sans-serif;
  background:   linear-gradient(
    rgba(255, 255, 255, 0.9), 
    rgba(247, 247, 247, 0.9)
  ), url('../images/banking.jpg');
}

#logo {
  cursor: pointer;
  color: rgba(33, 103, 253, 0.9);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

header {
  height: 80px;
  text-align: center
}

main {
  padding-bottom: 20px;
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#admin {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#logout {
  margin: 5px;
  border-radius: 8px;
  padding: 10px;
  background-color: #f76b34;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

a {
  text-decoration: none;
  background-color: #3e34f7;
  padding: 15px;
  color: whitesmoke;
  border-radius: 5px;
}

.list {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #f7cd34;
  border: 20px;
  border-radius: 5px;
  list-style-type: none;
  color: black;
}

.list:hover {
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
}

.item {
  font-size: 20px;
  cursor: pointer;
}

.item:hover {
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  bottom: 0;
  height: 60px;
  border-top: 1px solid rgb(216, 214, 214);
  font-size: 7px;
}

footer a {
  padding: 10px;
}


@media screen and (min-width: 425px) {
  .footer {
    font-size: 10px;
  }
}

@media screen and (min-width: 600px) {
  .footer {
    font-size: 12px;
  }
  #accounts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .list {
    padding: 15px;
    margin: 15px;
  }
}

@media (min-width: 1024px) {
  body {
    background-size: cover;
  }
  #logo {
    font-size: 2.5em;
  }
}