html {
  margin: 0;
}

body {
  margin: 0;
}

#logo {
  cursor: pointer;
  color: rgb(143, 176, 245);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

header {
  height: 80px;
  text-align: center
}

main {
  padding-bottom: 20px;
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 500px) {
  .footer {
    font-size: 10px;
  }
}

@media screen and (min-width: 650px) {
  .footer {
    font-size: 12px;
  }
}

#admin {
  display: none;
  cursor: pointer;
}

.list {
  padding: 10px;
}

.item {
  font-size: 20px;
  cursor: pointer;
}

.item:hover {
  color: #3b75f1;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  bottom: 0;
  height: 60px;
  border-top: 1px solid rgb(216, 214, 214);
  font-size: 7px;
}

footer a {
  padding: 10px;
}
