html {
  margin: 0;
}

.logo {
  cursor: pointer;
}

.logo:hover {
  color: #1558e7;
  transform: scaleY(1.3);
}

main {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 500px) {
  .footer {
    font-size: 10px;
  }
  .list .item {
    font-size: 17px;
  }
  #account {
    font-size: 18px;
  }
}

@media screen and (min-width: 650px) {
  .footer {
    font-size: 12px;
  }
  .list .item {
    font-size: 19px;
  }
  #account {
    font-size: 21px;
  }
}

.list {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.item {
  font-size: 13px;
  padding: 10px;
  cursor: pointer;
}

.item:hover {
  font-weight: bold;
}

input {
  padding: 15px;
  margin: 10px 0 10px 0;
  display: inline-block;
  border: none;
  background: #d1cece;
  width: 40%;
}

button {
  width: 40%;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.delete {
  background-color: #e41818;
}

.credit {
  background-color: #0bec61;
}

.debit {
  background-color: #f70808;
}

#error {
  background-color: #ca001b;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  bottom: 0;
  height: 50px;
  box-shadow: 16px 0px 8px 0px rgba(0, 0, 0, 0.2);
  font-size: 7px;
}

footer a {
  padding: 10px;
}
