:root {
  --red: #f00f00;
  --blue: #2c1fe2;
  --white: #d3d2e9;
  --black: #272727;
}
html {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

header {
  height: 80px;
  text-align: center;
}

#header {
  text-align: center;
}

.logo {
  cursor: pointer;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(143, 176, 245);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  min-height: calc(100vh - 160px);
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
}

#account {
  text-align: center;
}

#activate {
  display: none;
  background-color: var(--blue);
}

.list {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(240, 230, 220, 0.5);
  list-style-type: none;
  font-family: 'Monteserrat', sans-serif;
}

.item {
  font-size: 13px;
  padding: 10px;
}

input {
  padding: 15px;
  margin: 10px 0 10px 0;
  display: inline-block;
  border: none;
  background: var(--white);
  width: 40%;
}

.amount-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: var(--white);
}

button:hover,
button:focus {
  cursor: pointer;
}

button:disabled {
  background-color: var(--white);
  cursor: not-allowed;
}

.delete {
  background-color: var(--red);
}

.credit {
  background-color: var(--blue);
}

.debit {
  background-color: var(--red);
}

#error {
  color: var(--red);
  font-size: 15px;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  bottom: 0;
  height: 60px;
  border-top: 1px solid rgb(216, 214, 214);
  font-size: 8px;
}

footer a {
  padding: 8px;
}

@media screen and (min-width: 425px) {
  .footer {
    font-size: 10px;
  }
  .list .item {
    font-size: 17px;
  }
  #account {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .buttons {
    flex-direction: column;
  }
  #activate {
    width: 100%;
    font-size: 15px;
  }
  .delete {
    width: 100%;
    font-size: 1.1em;
  }
  #account-details {
    display: flex;
    justify-content: center;
  }
  .footer {
    font-size: 12px;
  }
  input {
    width: 100%;
  }
  .list .item {
    font-size: 19px;
  }
  #account {
    font-size: 21px;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    /* width: 15%; */
    align-items: center;
  }
}
