html {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif, 'Roboto';
  background:   linear-gradient(
    rgba(255, 255, 255, 0.7), 
    rgba(247, 247, 247, 0.7)
  ), url('../images/banking.jpg');
}

#logo {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: rgba(33, 103, 253, 0.9);
}

header {
  height: 80px;
  text-align: center;
}

main {
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.history {
  list-style-type: none;
  padding: 15px;
  background-color: rgba(185, 185, 184, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  font-weight: bold;
}

li {
  padding: 5px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  bottom: 0;
  height: 80px;
  border-top: 1px solid rgb(216, 214, 214);
  font-size: 7px;
}

footer a {
  padding: 10px;
}


@media (min-width: 425px) {
  .footer {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .footer {
    font-size: 12px;
  }
  #history {
    display: flex;
    flex-flow: row wrap; 
    align-items: center;
    justify-content: center;
  }
  .history {
    margin: 20px;
  }
}

@media (min-width: 1024px) {
  body {
    background-size: cover;
  }
}