html {
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(250, 250, 250, 0.9);
  color: rgb(10, 8, 8);
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

header {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  padding-bottom: 20px;
  min-height: calc(100vh - 160px);
  max-width: 70%;
  margin: auto
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.9em;
}

a {
  text-decoration: none;
}

.logo a {
  color: rgba(117, 157, 243, 0.9);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.col-75 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 650px) {
  .content-wrapper {
    max-width: 550px;
  }
  h1 {
    font-size: 3.0em;
  }
  .details {
    font-size: 16px;
  }
  .terms {
    font-size: 16px;
  }
  footer .footer-item {
    font-size: 12px;
  }
}

.terms {
  border: 10px;
}

button {
  background-color: #3d1dee;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

input,
select {
  padding: 15px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
  width: 100%;
}

#form-error {
  font-size: 20px;
  color: red;
}

p {
  font-size: 13px;
}

.back {
  font-size: 15px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  bottom: 0;
  height: 80px;
  border-top: 1px solid rgb(216, 214, 214);
  font-size: 10px
}

footer p {
  padding: 3px;
  font-size: 9px;
}
